

@media (max-width: 1024px) and (min-width: 320px) {
  .about-me {
    padding-top: 2.5vh;
    margin-left: 4vw;
    margin-right: 4vw;
    // width: 75%;
    // margin: auto;
    // max-width: 1000px;
  }

}


@media (min-width: 1025px) {
.about-me {
  padding-top: 2.5vh;
  // margin-left: 4vw;
  // margin-right: 4vw;
  width: 75%;
  margin: auto;
  max-width: 1000px;
}
}
