.App {
  text-align: center;
  background-color: #4f5b66
}

.App-header {
  background-color: #4f5b66;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
