.App {
  padding-top: 7vh;
  text-align: center;
  background-color: #4f5b66;
  height: 100%;
  background-image: url("https://www.transparenttextures.com/patterns/pinstriped-suit.png");
}

.App-header {
  background-color: #4f5b66;
  min-height: 25vh;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url("https://www.transparenttextures.com/patterns/pinstriped-suit.png");
}

.rounded-corners {
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  border-width: 10px;
  height: 40vh;
}
