/* smartphones, iPhone, portrait 480x320 phones */
@media (max-width: 480px) and (min-width: 320px) {
  .App-header {
    background-color: #4f5b66;
    min-height: 25vh;
    font-size: calc(8px + 2vmin);
    color: white;
    background-image: url("https://www.transparenttextures.com/patterns/pinstriped-suit.png");
    margin: 50px;
    background: rgba(134, 131, 131, 0.062);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
    backdrop-filter: blur(18.5px);
    -webkit-backdrop-filter: blur(18.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    line-height: 46px;
    text-shadow: 0 2px 4px rgb(71 97 206 / 70%);
    display: flex;
    align-content: center;
    flex-direction: column;
    text-align: center;
  }

  .name-header {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 28px;
  }

  .titles {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: calc(12px + 2vmin);
  }

  .router-bar {
    display: flex;
    justify-content: space-around;
    align-content: center;
  }

  .Image {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .rounded-corners {
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    height: 8em;
    display: flex;
    align-content: center;
    justify-content: center;
  }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (max-width: 640px) and (min-width: 481px) {
  .App-header {
    background-color: #4f5b66;
    min-height: 25vh;
    font-size: calc(10px + 2vmin);
    color: white;
    background-image: url("https://www.transparenttextures.com/patterns/pinstriped-suit.png");
    margin: 50px;
    background: rgba(134, 131, 131, 0.062);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
    backdrop-filter: blur(18.5px);
    -webkit-backdrop-filter: blur(18.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    line-height: 46px;
    text-shadow: 0 2px 4px rgb(71 97 206 / 70%);
    display: flex;
    align-content: center;
    flex-direction: column;
    text-align: center;
  }

  .name-header {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: calc(12px + 2vmin);
  }

  .titles {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: calc(8px + 2vmin);
  }

  .router-bar {
    display: flex;
    justify-content: space-around;
    align-content: center;
  }

  .Image {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .rounded-corners {
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    height: 8em;
    display: flex;
    align-content: center;
    justify-content: center;
  }
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (max-width: 960px) and (min-width: 641px) {
   .App-header {
    background-color: #4f5b66;
    min-height: 25vh;
    font-size: calc(10px + 2vmin);
    color: white;
    background-image: url("https://www.transparenttextures.com/patterns/pinstriped-suit.png");
    margin: 50px;
    background: rgba(134, 131, 131, 0.062);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
    backdrop-filter: blur(18.5px);
    -webkit-backdrop-filter: blur(18.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    line-height: 46px;
    text-shadow: 0 2px 4px rgb(71 97 206 / 70%);
    display: flex;
    align-content: center;
    flex-direction: column;
    text-align: center;
  }

  .name-header {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 24px;
  }

  .titles {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: calc(8px + 2vmin);
    margin-top:-1em;
  }

  .router-bar {
    display: flex;
    justify-content: space-around;
    align-content: center;
  }

  .Image {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .rounded-corners {
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    height: 8em;
    display: flex;
    align-content: center;
    justify-content: center;
  }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width: 1024px) and (min-width: 961px) {
  .App-header {
    background-color: #4f5b66;
    min-height: 25vh;
    font-size: calc(10px + 2vmin);
    color: white;
    background-image: url("https://www.transparenttextures.com/patterns/pinstriped-suit.png");
    margin: 50px;

    background: rgba(134, 131, 131, 0.062);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
    backdrop-filter: blur(18.5px);
    -webkit-backdrop-filter: blur(18.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    line-height: 46px;
    text-shadow: 0 2px 4px rgb(71 97 206 / 70%);
    display: flex;
    align-content: center;
  }

  .name-header {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .titles {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: calc(8px + 2vmin);
  }

  .router-bar {
    display: flex;
    justify-content: center;
  }

  .rounded-corners {
    margin-top: 3vh;
    margin-left: 1vw;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    height: 12em;
  }
}

/* big landscape tablets, laptops, and desktops */
@media (max-width: 1319px) and (min-width: 1025px) {
  .App-header {
    background-color: #4f5b66;
    min-height: 25vh;
    width: 75%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    font-size: calc(10px + 2vmin);
    color: white;
    background-image: url("https://www.transparenttextures.com/patterns/pinstriped-suit.png");

    background: rgba(134, 131, 131, 0.062);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
    backdrop-filter: blur(18.5px);
    -webkit-backdrop-filter: blur(18.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    line-height: 46px;
    text-shadow: 0 2px 4px rgb(71 97 206 / 70%);
    display: flex;
    align-content: center;

  }

  .link-tree {
    display: block;
  }

  .name-header {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .titles {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: calc(4px + 2vmin);
  }

  .router-bar {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 5vw;
  }

  .rounded-corners {
    margin-top: 3vh;
    margin-left: 1vw;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    height: 12em;
  }
}

/* hi-res laptops and desktops */
@media (min-width: 1320px) {
  .App-header {
    background-color: #4f5b66;
    min-height: 25vh;
    font-size: calc(10px + 2vmin);
    color: white;
    background-image: url("https://www.transparenttextures.com/patterns/pinstriped-suit.png");
    width: 75%;
    max-width: 1024px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;

    background: rgba(134, 131, 131, 0.062);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
    backdrop-filter: blur(18.5px);
    -webkit-backdrop-filter: blur(18.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    line-height: 46px;
    text-shadow: 0 2px 4px rgb(71 97 206 / 70%);
    display: flex;
    align-content: center;
  }

  .link-tree {
    display: block;
  }

  .name-header {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .titles {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: calc(4px + 2vmin);
  }

  .router-bar {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 5vw;
  }

  .rounded-corners {
    margin-top: 3vh;
    margin-left: 1vw;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 8px;
    height: 13em;
  }
}
