.RouterBar {
  padding-top:2vh;
  padding-bottom:2vh;
  background-color: #586673;
  background-image: url("https://www.transparenttextures.com/patterns/pinstriped-suit.png");
}

.dyn-img {
  padding-right: 5vw;
  padding-left: 5vw;
  filter: invert(100%);
}


