/* smartphones, iPhone, portrait 480x320 phones */
@media (max-width: 480px) and(min-width:320px) {
  .dyn-img {
    margin-right: 3vw;
    margin-left: 3vw;
    filter: invert(100%);
  }


  .icon-images {
    width: 70%;
    height: auto;
  }

  .icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  p.subtitle {
    // visibility: hidden;
    margin-top: -4vh;
    font-size: 8px;
    color: white;
  }
}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (max-width: 640px) and (min-width: 481px) {
  .dyn-img {
    margin-right: 3vw;
    margin-left: 3vw;
    filter: invert(100%);
  }


  .icon-images {
    width: 70%;
    height: auto;
  }

  .icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .subtitle {
    margin-top: -2.5vh;
    font-size: 12px;
    color: white;
  }
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (max-width: 960px) and (min-width: 641px) {
  .dyn-img {
    margin-right: 3vw;
    margin-left: 3vw;
    filter: invert(100%);
  }


  .icon-images {
    width: 70%;
    height: auto;
  }

  .icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .subtitle {
    margin-top: -2.0vh;
    font-size: 12px;
    color: white;
  }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width: 1024px) and (min-width: 961px) {
  .dyn-img {
    margin-right: 3vw;
    margin-left: 3vw;
    filter: invert(100%);
  }


  .icon-images {
    width: 100%;
    height: auto;
  }

  .icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .subtitle {
    margin-top: -1.5vh;
    font-size: 12px;
    color: white;
  }
}

/* big landscape tablets, laptops, and desktops */
@media (max-width: 1319px) and (min-width: 1025px) {
  .dyn-img {
    margin-right: 3vw;
    margin-left: 3vw;
    filter: invert(100%);
  }


  .icon-images {
    width: 100%;
    height: auto;
  }


  .icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .subtitle {
    margin-top: -2.5vh;
    font-size: 12px;
    color: white;
  }
}

/* hi-res laptops and desktops */
@media (min-width: 1320px) {
  .dyn-img {
    margin-right: 3vw;
    margin-left: 3vw;
    filter: invert(100%);
  }

  .icon-images {
    width: 100%;
    height: auto;
  }

  .icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .subtitle {
    margin-top: -2.5vh;
    font-size: 12px;
    color: white;
  }
}


.dyn-img:hover {
  filter: drop-shadow(0px 0px 30px rgb(185, 185, 185));
}

.dyn-img:active {
  filter: invert(50%);
}

.dyn-img:visited {
  filter: invert(0%);
}

